.advanteges__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .advanteges__wrapper {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .advanteges__wrapper {
    width: 960px;
  }
}
.advanteges__items {
  padding: 0;
  margin: 0;
  list-style: none;
}
.advanteges__item {
  margin-bottom: 23px;
  padding: 0 44px;
  padding-top: 125px;
}
.advanteges__item:nth-child(n+2) {
  display: none;
}
@media (min-width: 768px) {
  .advanteges__wrapper {
    padding-top: 40px;
  }
  .advanteges__items {
    padding-bottom: 4px;
  }
  .advanteges__item {
    margin: 0 30px;
    margin-bottom: 40px;
    padding: 0;
    padding-left: 130px;
    padding-bottom: 40px;
  }
  .advanteges__item:nth-child(n+2) {
    display: block;
  }
  .advanteges__item:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .advanteges__items {
    display: table;
    width: 100%;
  }
  .advanteges__item {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 130px;
  }
  .advanteges__item:nth-child(n+2) {
    display: table-cell;
  }
}
