.page-header__logo {
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #242424;
}
.page-header__logo img {
  width: 226px;
  height: auto;
}
@media (min-width: 768px) {
  .page-header {
    display: flex;
    flex-direction: column;
    background-color: #000000;
  }
  .page-header__logo {
    order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
    background-size: cover;
  }
  .page-header__logo img {
    position: absolute;
    left: 50%;
    width: 370px;
    height: auto;
    transform: translate(-50%);
  }
}
@media (min-width: 1200px) {
  .page-header {
    max-width: 1200px;
    margin: 0 auto;
  }
  .page-header__logo {
    height: 648px;
    background-position: center 0px;
    background-size: cover;
  }
}
