@import "mixins";
@import "variables";

.entry {
  background-color: #f8f5f2;
}

.entry__form {
  .conteiner-fluid();
  position: relative;

  display: flex;
  flex-direction: column;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 75px;
  box-sizing: border-box;

  color: #000000;

}

.entry__title {
  margin: 35px;
  text-align: center;

  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.entry__to-all {
  display: none;
}

.entry__form input,
.entry__form textarea {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 8px;
  border: 1px solid #e5ddd5;

  font-size: 18px;
  line-height: 30px;

}

.entry__form input:nth-child(5),
.entry__form input:nth-child(7) {
  margin-bottom: 30px;
}

.entry__form textarea {
  margin-bottom: 45px;
}

.entry__beard-model {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.entry__beard-model-title,
.entry__additionals-title {
  margin-top: 0;
  margin-bottom: 40px;
  flex-basis: 100%;

  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: normal;

  text-align: center;
}

.entry__checkbox-click {
  display: none;
}

.entry__beard-model label {
  position: relative;

  flex-basis: 33.3%;
  padding-top: 70px;
  padding-bottom: 125px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  text-align: center;

  &::before {
    position: absolute;
    width: 50px;
    height: 50px;

    content: "";

    border-radius: 50px;
    border: 1px solid #e5ddd5;
    box-sizing: border-box;

    background-color: #ffffff;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.entry__beard-model input:checked + label::before {
  box-shadow: inset #ffffff 0 0 0 15px,
  inset #e5ddd5 0 0 0 16px;

}

.entry__beard-model-admiral::after {
  position: absolute;
  width: 52px;
  height: 49px;

  content: "";

  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  background-image: url("../img/beard-1.png");
}

.entry__beard-model-lumberjack::after {
  position: absolute;
  width: 56px;
  height: 68px;

  content: "";

  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  background-image: url("../img/beard-2.png");
}

.entry__beard-model-explorer::after {
  position: absolute;
  width: 64px;
  height: 78px;

  content: "";

  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  background-image: url("../img/beard-3.png");
}

.entry__beard-model-boyar::after {
  position: absolute;
  width: 58px;
  height: 98px;

  content: "";

  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  background-image: url("../img/beard-4.png");
}

.entry__beard-model-sage::after {
  position: absolute;
  width: 46px;
  height: 105px;

  content: "";

  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  background-image: url("../img/beard-5.png");
}

.entry__additionals {
  display: flex;
  flex-direction: column;

  margin-bottom: 45px;
}

.entry__additionals input {
  display: none;
}

.entry__additionals label {
  position: relative;

  padding-left: 60px;
  padding-top: 15px;
  padding-bottom: 11px;
  padding-right: 11px;
}

.entry__additionals label::after {
  position: absolute;

  left: 0;
  top: 50%;
  transform: translateY(-50%);

  content: "";
  width: 35px;
  height: 35px;
  border: 1px solid #e5ddd5;
  box-sizing: border-box;
  z-index: 1;

  background-color: #ffffff;
}

.entry__additionals input[type='checkbox']:checked + label::before {
  position: absolute;
  width: 22px;
  height: 16px;

  left: 8px;
  top: 50%;
  transform: translateY(-50%);

  content: "";

  background-image: url("../img/checked.png");
  z-index: 2;
}

.entry__button {
  margin-left: 0;
  margin-right: 0;

  background-color: #826550;
  color: #ffffff;
}

@media @tablet-width {

  .entry__form {
    flex-direction: row;
    flex-wrap: wrap;

    padding-right: 0;
    padding-left: 0;
  }

  .entry__title {
    margin-left: 0;
    margin-top: 65px;
    margin-bottom: 75px;
    margin-right: 0;
    width: 100%;

    padding-right: 150px;

    font-size: 40px;
    line-height: 40px;

    text-align: start;
  }

  .entry__to-all {
    position: absolute;
    top: 60px;
    right: 0;

    margin-right: 0;
    margin-left: 0;

    color: #000000;
  }

  #entry__name,
  #entry__surname,
  #entry__patronymic{
    width: 33.33%;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  #entry__name,
  #entry__surname {
    border-right: none;
  }


  #entry__telephone,
  #entry__email,
  #entry__info{
    width: 100%;

    margin-top: 35px;
    margin-bottom: 0;
  }

  #entry__info {
    margin-bottom: 55px;
  }

  .entry__beard-model {
    width: 100%;
  }

  .entry__beard-model-title {
    font-size: 30px;
    line-height: 30px;
  }

  .entry__beard-model label {
    flex-basis: 20%;
  }

  .entry__additionals {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .entry__additionals-title {
    flex-basis: 100%;
    font-size: 30px;
    line-height: 30px;
  }


  .entry__additionals label {
    flex-basis: 50%;
    box-sizing: border-box;
  }

  .entry__button {
    flex-basis: 100%;
  }
}

@media @desctop-width {

  #entry__name,
  #entry__surname,
  #entry__patronymic {
    flex-basis: 30.5%;
  }

  #entry__name,
  #entry__surname {
    margin-right: 40px;
    border-right: 1px solid #e5ddd5;
  }

  #entry__telephone,
  #entry__email {
    flex-basis: 43.5%;
  }

  #entry__telephone {
    margin-right: 40px;
  }

  .entry__additionals label {
    flex-basis: 33.3%;
  }
}


