.clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

.conteiner() {
  width: 320px;
  margin: 0 auto;

  @media @tablet-width {
    width: 640px;
  }

  @media @desctop-width {
    width: 960px;
  }
}

.conteiner-fluid() {
  width: 100%;

  @media @tablet-width {
    width: 84%; /* 640px / 768px ~= 84% */
    max-width: 960px;

    margin: 0 auto;
  }
}

.hover-active() {
  &:hover {
    color: @real-brown;
    opacity: 0.6;

    text-decoration: underline;
  }

  &:active {
    opacity: 1;
  }
}