@import "variables";
@import "mixins";

.page-header {
  .conteiner-fluid();
}

.page-header__logo {
  height: 85px;
  text-align: center;
  margin: 0 auto;

  background-color: #242424;
}

.page-header__logo img {
  width: 230px;
  height: 85px;
  background-color: yellow;
}

@media @tablet-width {
  .page-header {
    display: flex;
    flex-direction: column;

    min-height: 70px;

    background-color: #000000;
  }

  .page-header__logo {
    order: 2;

    width: 100%;
    height: 400px;

    background-color: #000000;
    background-image: url("../img/back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
    background-size: cover;
  }

  .page-header__logo img {
    position: absolute;
    bottom: 257px;
    left: 50%;

    width: 370px;
    height: auto;

    transform: translate(-50%);
  }

}

@media @desctop-width {
  .page-header {
  }

  .page-header__logo {
    height: 648px;

    background-position: center 0px;
    background-size: cover;
  }

}