@import "mixins";
@import "variables";

.reviews {
  background-color: #ffffff;
}

.reviews__wrapper {
  .conteiner-fluid();
  padding-bottom: 60px;

  color: #000000;
}

.reviews__title {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;

  text-align: center;
}

.reviews__write,
.slider__input,
.reviews__prev,
.reviews__next{
  display: none;
}

.reviews__items {
  margin-left: 20px;
  margin-right: 20px;
}

.reviews__item {

  position: relative;
  padding-left: 70px;
  margin: 0;
}

.reviews__author-photo {
  content: "";
  width: 50px;
  height: 49px;

  position: absolute;
  left: 0;
  top: 0;
}

.reviews__author-name {
  display: block;

  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
}

.reviews__item p {
  margin-top: 10px;
  margin-bottom: 30px;
}

.slider__toggles::after {
  border: 1px solid #000000;
}

.reviews__toggles .slider__toggle {
  border: 1px solid #000000;
}

@media @tablet-width {
  .reviews__wrapper {
    position: relative;

    padding-bottom: 70px;
  }

  .reviews__title {
    font-size: 40px;
    line-height: 40px;
    text-align: left;

    padding-top: 45px;
    padding-right: 170px;
    margin-bottom: 45px;
  }

  .reviews__write {
    display: inline-block;
    position: absolute;
    margin: 0;

    top: 35px;
    right: 0;
    cursor: pointer;
  }

  .reviews__items {
    display: flex;
    flex-direction: row;

    margin: 0;

  }

  .reviews__item {
    order: 1;

    padding-top: 35px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 140px;
    border-top: 1px solid #e5ddd5;
    border-bottom: 1px solid #e5ddd5;
  }

  .reviews__author-photo {
    left: 50px;
    top: 50%;
    margin-top: -25px;

    overflow: hidden;

    border-radius: 50px;
  }

  .reviews__prev {
    position: relative;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #e5ddd5;
    flex-basis: 50px;
    cursor: pointer;

    font-size: 0;
  }

  .reviews__prev::before {
    content: '';
    position: absolute;
    right: 50%;
    margin-right: -8px;
    top: 50%;
    margin-top: -8px;

    border: 8px solid transparent;
    border-right: 16px solid #000000;
  }

  .reviews__next {
    position: relative;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #e5ddd5;
    flex-basis: 50px;
    order: 2;
    cursor: pointer;


    font-size: 0;
  }

  .reviews__next::before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;

    border: 8px solid transparent;
    border-left: 16px solid #000000;
  }

  .reviews__toggles {
    position: absolute;

    left: 50%;
    margin-left: -65px;
    width: 130px;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    bottom: 65px;

    background-color: #ffffff;
  }

  .reviews__toggles .slider__toggle:first-child {
    background-color: #000000;
  }
}

@media @desctop-width {
  .reviews {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  .reviews__wrapper {
    padding-bottom: 40px;
  }

  .reviews__title {
    margin-left: 70px;
  }

  .reviews__prev {
    margin-right: 25px;
  }

  .reviews__next {
    margin-left: 25px;
  }

  .reviews__items {
    margin-bottom: 40px;

  }

  .reviews__item {
    padding-left: 320px;
    border: 1px solid #e5ddd5;
  }

  .reviews__toggles {
    width: 75px;
  }

  .slider__toggle {
    width: 5px;
    height: 5px;
  }
}


